
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome.scss';

// Components
@import "left-bar";

.navbar-dark{
    background:$dark;
    #menu-toggle{
        font-size: 1.9em;
        color: #fff;
    }
}

#sidebar-wrapper{
    .navbar-dark{
        /*background:lighten($dark, 7);*/
        background:#fff;
    }
}

.tab-content{
    background: #fff;
}
.nav-tabs .nav-link.active{
    background: #fff !important;
}
.tab-content > .tab-pane{
    padding: 20px;
}
.tab-title{
    font-size: 1.5em;
}
