
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome.scss';

@import '~bootstrap-select/sass/bootstrap-select.scss'; 

// Components
@import "left-bar";

.navbar-dark{
    background:$dark;
    #menu-toggle{
        font-size: 1.9em;
        color: #fff;
    }
}

#sidebar-wrapper{
    .navbar-dark{
        /*background:lighten($dark, 7);*/
        background:#fff;
    }
}

.tab-content{
    background: #fff;
}
.nav-tabs .nav-link.active{
    background: #fff !important;
}
.tab-content > .tab-pane{
    padding: 20px;
}
.tab-title{
    font-size: 1.5em;
}
.divider-text{
    font-size: 0.8em;
    color: #8f8f8f;
    text-align: center;
    margin: 10px 0;
}
.divider-text::after{
    content: "";
    height: 1px;
    background: #ececec;
    width: 35%;
    display: block;
    position: relative;
    top: 0.9em;
    float: right;
    margin-right: 5px;
}
.divider-text::before{
    content: "";
    height: 1px;
    background: #ececec;
    width: 35%;
    display: block;
    position: relative;
    top: 0.9em;
    float: left;
    margin-left: 5px;
}
.row{
    padding-top:10px;
    padding-bottom:10px;
}
